@font-face {
  font-family: "digital-7";
  src: url(../font/digital-7/digital-7.ttf);
}

h3 {
  font-size: 1.6rem !important;
}

h4 {
  margin-bottom: 0 !important;
}

.thermostat {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border: 0.15rem solid black;
  border-radius: 1rem;
  padding: 1rem;
}
.temp {
  font-family: "digital-7";
  font-size: 3rem;
  text-align: center;
  width: 70%;
  border: 0.1rem solid black;
  border-radius: 1rem;
  background-color: #eeeeeeee;
  padding: 0.6rem 0.2rem 0.2rem 0.2rem;
  margin-top: 0.7rem;
  margin-bottom: 0.6rem;
}

button:disabled {
  opacity: 30%;
}
[class*="chevron"] {
  display: block;
  width: 3rem;
  height: 3rem;
  transform: rotate(45deg);
  border: none;
  background-color: transparent;
  outline: none !important;
}
.chevron-up {
  border-top: 0.7rem solid red;
  border-left: 0.7rem solid red;
  margin-top: 1.25rem;
  margin-bottom: -1.5rem;
}
.chevron-down {
  border-right: 0.7rem solid royalblue;
  border-bottom: 0.7rem solid royalblue;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}
