@font-face {
  font-family: "digital-7";
  src: url(../font/digital-7/digital-7.ttf);
}

h3 {
  margin-top: 0.4rem !important;
}

.thermostat {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  border: 0.15rem solid black;
  border-radius: 1rem;
  padding: 1rem;
}
.temp {
  font-family: "digital-7";
  font-size: 3.5rem;
  text-align: center;
  user-select: none;
  width: 70%;
  border: 0.1rem solid black;
  border-radius: 1rem;
  background-color: #eeeeeeee;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.6rem 0.2rem 0.2rem 0.2rem;
}

button:disabled {
  opacity: 30%;
}
[class*="chevron"] {
  display: block;
  width: 3rem;
  height: 3rem;
  transform: rotate(45deg);
  border: none;
  background-color: transparent;
  outline: none !important;
}
.chevron-up {
  margin-top: 2rem;
  border-top: 0.7rem solid red;
  border-left: 0.7rem solid red;
}
.chevron-down {
  margin-bottom: 2rem;
  border-right: 0.7rem solid blue;
  border-bottom: 0.7rem solid blue;
}
