.floorplan {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
.bedroom2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 40%;
  border: 2px solid black;
}
.bathroom2 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 20%;
  height: 20%;
  border: 2px solid black;
}
.bedroom3 {
  position: absolute;
  top: 60%;
  left: 0;
  width: 20%;
  height: 40%;
  border: 2px solid black;
}
.livingRoom {
  position: absolute;
  top: 0;
  left: 20%;
  width: 30%;
  height: 100%;
  border: 2px solid black;
}
.kitchen {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20%;
  height: 60%;
  border: 2px solid black;
}
.laundryRoom {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 10%;
  height: 40%;
  border: 2px solid black;
}
.bathroom1 {
  position: absolute;
  top: 0;
  left: 70%;
  width: 30%;
  height: 20%;
  border: 2px solid black;
}
.bedroom1 {
  position: absolute;
  top: 20%;
  left: 70%;
  width: 30%;
  height: 40%;
  border: 2px solid black;
}
.garage {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 40%;
  height: 40%;
  border: 2px solid black;
}
.bedroom1OverheadLight {
  position: absolute;
  top: 50%;
  left: 45%;
}
.bedroom1Lamp1 {
  position: absolute;
  top: 0%;
  left: 0%;
}
.bedroom1Lamp2 {
  position: absolute;
  top: 70%;
  left: 0%;
}
.bedroom1Window1 {
  position: absolute;
  top: 15%;
  left: 88%;
}
.bedroom1Window2 {
  position: absolute;
  top: 55%;
  left: 88%;
}
.bedroom1Tv {
  position: absolute;
  top: 10%;
  left: 45%;
}
.bedroom2OverheadLight {
  position: absolute;
  top: 40%;
  left: 45%;
}
.bedroom2Lamp1 {
  position: absolute;
  top: 0%;
  left: 85%;
}
.bedroom2Lamp2 {
  position: absolute;
  top: 70%;
  left: 85%;
}
.bedroom2Window1 {
  position: absolute;
  top: 15%;
  left: 2%;
}
.bedroom2Window2 {
  position: absolute;
  top: 55%;
  left: 2%;
}
.bedroom3OverheadLight {
  position: absolute;
  top: 40%;
  left: 45%;
}
.bedroom3Lamp1 {
  position: absolute;
  top: 0%;
  left: 85%;
}
.bedroom3Lamp2 {
  position: absolute;
  top: 70%;
  left: 85%;
}
.bedroom3Window1 {
  position: absolute;
  top: 15%;
  left: 2%;
}
.bedroom3Window2 {
  position: absolute;
  top: 55%;
  left: 2%;
}
.bathroom1OverheadLight {
  position: absolute;
  top: 40%;
  left: 40%;
}
.bathroom1ExhaustFan {
  position: absolute;
  top: 40%;
  left: 50%;
}
.bathroom1Window {
  position: absolute;
  top: 15%;
  left: 88%;
}
.bathroom1Faucet {
  position: absolute;
  top: 0%;
  left: 10%;
}
.bathroom2OverheadLight {
  position: absolute;
  top: 40%;
  left: 40%;
}
.bathroom2ExhaustFan {
  position: absolute;
  top: 40%;
  left: 55%;
}
.bathroom2Window {
  position: absolute;
  top: 20%;
  left: 2%;
}
.bathroom2Faucet {
  position: absolute;
  top: 0%;
  left: 85%;
}
.clothesWasher {
  position: absolute;
  top: 20%;
  left: 10%;
}
.clothesDryer {
  position: absolute;
  top: 60%;
  left: 10%;
}
.frontDoor {
  position: absolute;
  top: 88%;
  left: 45%;
}
.backDoor {
  position: absolute;
  top: 0%;
  left: 10%;
}
.garageHouseDoor {
  position: absolute;
  top: 15%;
  left: 2%;
}
.garageCarDoor1 {
  position: absolute;
  top: 45%;
  left: 30%;
}
.garageCarDoor2 {
  position: absolute;
  top: 45%;
  left: 75%;
}
.livingRoomOverheadLight {
  position: absolute;
  top: 45%;
  left: 35%;
}
.livingRoomLamp1 {
  position: absolute;
  top: 15%;
  left: 15%;
}
.livingRoomLamp2 {
  position: absolute;
  top: 15%;
  left: 70%;
}
.livingRoomTv {
  position: absolute;
  top: 40%;
  left: 75%;
}
.livingRoomWindow1 {
  position: absolute;
  top: 88%;
  left: 20%;
}
.livingRoomWindow2 {
  position: absolute;
  top: 88%;
  left: 70%;
}
.livingRoomWindow3 {
  position: absolute;
  top: 0%;
  left: 80%;
}
.kitchenOverheadLight {
  position: absolute;
  top: 45%;
  left: 45%;
}
.kitchenOven {
  position: absolute;
  top: 20%;
  left: 5%;
}
.kitchenStove {
  position: absolute;
  top: 20%;
  left: 25%;
}
.kitchenDishWasher {
  position: absolute;
  top: 20%;
  left: 55%;
}
.kitchenMicrowave {
  position: absolute;
  top: 20%;
  left: 80%;
}
.kitchenRefrigerator {
  position: absolute;
  top: 60%;
  left: 5%;
}
.kitchenWindow1 {
  position: absolute;
  top: 0%;
  left: 13%;
}
.kitchenWindow2 {
  position: absolute;
  top: 0%;
  left: 72%;
}
